@import "./_variables.scss";
@import "./libs/_normalize.scss";
@import "./components/_all.scss";

.wrapper {
  width: calc(100vw - 40px);
  height: 100%;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}
